Repository jonahjon/eks-matrix-tests: changes, and which Prow jobs are due for each by the changed paths.
All: open-source-product1-1.14, open-source-product1-1.15, open-source-product2-1.14, open-source-product2-1.15, partner-product1-1.14, partner-product1-1.15, partner-product2-1.14, partner-product2-1.15

Path conditions:
  open-source-product1-1.14: any of: ^open-source/product1/
  open-source-product1-1.15: any of: ^open-source/product1/
  open-source-product2-1.14: any of: ^open-source/product2/
  open-source-product2-1.15: any of: ^open-source/product2/
  partner-product1-1.14: any of: ^partner/product1/
  partner-product1-1.15: any of: ^partner/product1/
  partner-product2-1.14: any of: ^partner/product2/
  partner-product2-1.15: any of: ^partner/product2/

Update hello.sh
  partner/product2/hello.sh
Due: partner-product2-1.14, partner-product2-1.15

testing
  partner/product2/hello.sh
Due: partner-product2-1.14, partner-product2-1.15

Update hello.sh
  open-source/product1/hello.sh
Due: open-source-product1-1.14, open-source-product1-1.15

adding in files to do a make test
  .gitignore
  Makefile
  go/e2e_test.go
  open-source/product1/Makefile
  open-source/product1/hello.sh
  prow/create.sh
  prow/jobs/Gopkg.lock
  prow/jobs/Gopkg.toml
  prow/jobs/README.md
  prow/jobs/config.yaml
  prow/jobs/main.go
  prow/jobs/open-source-product1/open-source-product1.yaml
  prow/jobs/open-source-product2/open-source-product2.yaml
  prow/jobs/partner-product1/partner-product1.yaml
  prow/jobs/partner-product2/partner-product2.yaml
  prow/update.sh
Due: open-source-product1-1.14, open-source-product1-1.15

changing phony
  open-source/product1/Makefile
Due: open-source-product1-1.14, open-source-product1-1.15

echo kubeconfig
  open-source/product1/hello.sh
Due: open-source-product1-1.14, open-source-product1-1.15

adding in tests for scripts
  open-source/product1/Makefile
  open-source/product1/hello.sh
Due: open-source-product1-1.14, open-source-product1-1.15

trying another bash script
  open-source/product1/hello.sh
Due: open-source-product1-1.14, open-source-product1-1.15

looking at kubeconfig
  open-source/product1/hello.sh
Due: open-source-product1-1.14, open-source-product1-1.15

testing kubeconfig
  open-source/product1/hello.sh
  open-source/product2/hello.sh
Due: open-source-product1-1.14, open-source-product1-1.15, open-source-product2-1.14, open-source-product2-1.15

adding kubeconfig
  open-source/product2/hello.sh
Due: open-source-product2-1.14, open-source-product2-1.15

trying go test
  open-source/product2/hello.sh
Due: open-source-product2-1.14, open-source-product2-1.15

make test:
  go/e2e_test.go
  go/new/new.go
  open-source/product1/hello.sh
Due: open-source-product1-1.14, open-source-product1-1.15

adding makefile fix
  go/new/new.go
  go/util/aws.go
  go/util/context.go
  go/util/secret.go
Due: none

changing up makefile
  open-source/product1/Makefile
Due: open-source-product1-1.14, open-source-product1-1.15

new python run command
  Pipfile
  Pipfile.lock
  __init__.py
  go/util/aws.go
  test.py
Due: none

make-test
  test.py
Due: none

Update test.py
  test.py
Due: none

Update e2e_test.go
  go/e2e_test.go
Due: none

Update hello.sh
  open-source/product2/hello.sh
Due: open-source-product2-1.14, open-source-product2-1.15

adding in subprocess checks
  test.py
Due: none

trigger
  open-source/product1/hello.sh
Due: open-source-product1-1.14, open-source-product1-1.15

adding in more tests
  go/e2e_test.go
Due: none

testing just iam
  go/e2e_test.go
Due: none

trying new tests
  go/e2e_test.go
Due: none
