Repository jonahjon/eks-matrix-tests: changes, and which Prow jobs are due for each by the changed paths.
All: open-source-product1-1.14, open-source-product1-1.15, open-source-product2-1.14, open-source-product2-1.15, partner-product1-1.14, partner-product1-1.15, partner-product2-1.14, partner-product2-1.15, fluent-bit-helm-1-1.14, fluent-bit-kubectl-1-1.15, grafana-kubectl-1-1.14, grafana-kubectl-1-1.15, grafana-kubectl-1-1.16, grafana-helm-1-1.14, grafana-helm-1-1.15, grafana-helm-1-1.16, grafana-image, open-source-product1-1.16, prometheus-helm-1-1.14, prometheus-helm-1-1.15, prometheus-helm-1-1.16, prometheus-image, prometheus-kubectl-1-1.14, prometheus-kubectl-1-1.15, prometheus-kubectl-1-1.16, prometheus1-1.14, prometheus1-1.15, prometheus1-1.16, test-infra-bootstrap, test-infra-bootstrap-helm, test-infra-golang, test-infra-alpine-kubectl, test-infra-update-jobs, update-jobs

Path conditions:
  open-source-product1-1.14: any of: ^open-source/product1/
  open-source-product1-1.15: any of: ^open-source/product1/
  open-source-product2-1.14: any of: ^open-source/product2/
  open-source-product2-1.15: any of: ^open-source/product2/
  partner-product1-1.14: any of: ^partner/product1/
  partner-product1-1.15: any of: ^partner/product1/
  partner-product2-1.14: any of: ^partner/product2/
  partner-product2-1.15: any of: ^partner/product2/
  fluent-bit-helm-1-1.14: any of: ^images/fluent-bit/
  fluent-bit-kubectl-1-1.15: any of: ^(images/fluent-bit/|prow/jobs/fluent-bit/)
  grafana-kubectl-1-1.14: any of: ^(images/grafana/|prow/jobs/grafana/)
  grafana-kubectl-1-1.15: any of: ^(images/grafana/|prow/jobs/grafana/)
  grafana-kubectl-1-1.16: any of: ^(images/grafana/|prow/jobs/grafana/)
  grafana-helm-1-1.14: any of: ^images/grafana/
  grafana-helm-1-1.15: any of: ^images/grafana/
  grafana-helm-1-1.16: any of: ^images/grafana/
  grafana-image: any of: ^images/grafana/
  open-source-product1-1.16: any of: ^open-source/product1/
  prometheus-helm-1-1.14: any of: ^images/prometheus/
  prometheus-helm-1-1.15: any of: ^images/prometheus/
  prometheus-helm-1-1.16: any of: ^images/prometheus/
  prometheus-image: any of: ^images/prometheus/
  prometheus-kubectl-1-1.14: any of: ^(images/prometheus/|prow/jobs/prometheus/)
  prometheus-kubectl-1-1.15: any of: ^(images/prometheus/|prow/jobs/prometheus/)
  prometheus-kubectl-1-1.16: any of: ^(images/prometheus/|prow/jobs/prometheus/)
  prometheus1-1.14: any of: ^images/prometheus/
  prometheus1-1.15: any of: ^images/prometheus/
  prometheus1-1.16: any of: ^images/prometheus/
  test-infra-bootstrap: any of: ^images/bootstrap/
  test-infra-bootstrap-helm: any of: ^images/bootstrap-helm/
  test-infra-golang: any of: ^images/golang/
  test-infra-alpine-kubectl: any of: ^images/alpine-kubectl/
  test-infra-update-jobs: any of: ^images/update-jobs/
  update-jobs: any of: ^prow/jobs/

adding in new changeS:
  prow/cluster/components/04-hook.yaml
  prow/cluster/components/11-alb_ingress.yaml
  prow/cluster/components/config.yaml
  prow/cluster/components/plugins.yaml
  prow/scripts/update.sh
Due: none

adding updated readme to fluent-bit
  images/fluent-bit/README.md
Due: fluent-bit-helm-1-1.14, fluent-bit-kubectl-1-1.15

Updaing section on fluent-bit
  images/fluent-bit/README.md
Due: fluent-bit-helm-1-1.14, fluent-bit-kubectl-1-1.15

adding in tests for falco
  .gitignore
  README.md
  images/create_ecr.sh
  images/falco/Dockerfile
  images/falco/Makefile
  images/falco/README.md
  images/falco/helm.sh
  prow/jobs/falco/OWNERS
  prow/jobs/falco/falco-helm.yaml
  prow/jobs/falco/falco-image.yaml
  prow/jobs/falco/test.yaml
Due: update-jobs

adding falco branch
  prow/jobs/falco/test.yaml
Due: update-jobs

cleaning readme
  images/fluent-bit/README.md
Due: fluent-bit-helm-1-1.14, fluent-bit-kubectl-1-1.15

cleaning readme
  prow/jobs/fluent-bit/OWNERS
Due: fluent-bit-kubectl-1-1.15, update-jobs

adding table
  README.md
  images/falco/.DS_Store
Due: none

adding new test
  README.md
Due: none
