Repository jonahjon/eks-matrix-tests: changes, and which Prow jobs are due for each by the changed paths.
All: open-source-product1-1.14, open-source-product1-1.15, open-source-product2-1.14, open-source-product2-1.15, partner-product1-1.14, partner-product1-1.15, partner-product2-1.14, partner-product2-1.15, grafana-helm-1-1.14, grafana-helm-1-1.15, grafana-helm-1-1.16, open-source-product1-1.16, prometheus1-1.14, prometheus1-1.15, prometheus1-1.16, test-infra-bootstrap, test-infra-bootstrap-helm, test-infra-golang, test-infra-alpine-kubectl, test-infra-update-jobs, update-jobs

Path conditions:
  open-source-product1-1.14: any of: ^open-source/product1/
  open-source-product1-1.15: any of: ^open-source/product1/
  open-source-product2-1.14: any of: ^open-source/product2/
  open-source-product2-1.15: any of: ^open-source/product2/
  partner-product1-1.14: any of: ^partner/product1/
  partner-product1-1.15: any of: ^partner/product1/
  partner-product2-1.14: any of: ^partner/product2/
  partner-product2-1.15: any of: ^partner/product2/
  grafana-helm-1-1.14: any of: ^images/grafana/
  grafana-helm-1-1.15: any of: ^images/grafana/
  grafana-helm-1-1.16: any of: ^images/grafana/
  open-source-product1-1.16: any of: ^open-source/product1/
  prometheus1-1.14: any of: ^images/prometheus/
  prometheus1-1.15: any of: ^images/prometheus/
  prometheus1-1.16: any of: ^images/prometheus/
  test-infra-bootstrap: any of: ^images/bootstrap/
  test-infra-bootstrap-helm: any of: ^images/bootstrap-helm/
  test-infra-golang: any of: ^images/golang/
  test-infra-alpine-kubectl: any of: ^images/alpine-kubectl/
  test-infra-update-jobs: any of: ^images/update-jobs/
  update-jobs: any of: ^prow/jobs/

remove eksctl schema, adding in branch-protection
  .gitignore
  prow/cluster/components/13-branch-protector.yaml
  prow/cluster/components/13-github_runner.yaml
  schema.json
Due: none

adding in grafana-kubectl test
  images/grafana/kubectl.sh
  prow/jobs/grafana/grafana.yaml
Due: grafana-helm-1-1.14, grafana-helm-1-1.15, grafana-helm-1-1.16, update-jobs

splitting out jobs
  images/grafana/kubectl.sh
  images/grafana/templates/grafana.yaml
  images/grafana/templates/tests/tests.yaml
  prow/jobs/grafana/helm.yaml
  prow/jobs/grafana/image.yaml
  prow/jobs/grafana/kubectl.yaml
Due: grafana-helm-1-1.14, grafana-helm-1-1.15, grafana-helm-1-1.16, update-jobs

updating README's
  README.md
  images/grafana/README.md
Due: grafana-helm-1-1.14, grafana-helm-1-1.15, grafana-helm-1-1.16

adding kubectl 1.15 grafana
  prow/jobs/grafana/kubectl.yaml
Due: update-jobs

fixing demo code
  .gitignore
  images/bootstrap/Dockerfile
  images/grafana/helm.sh
  images/grafana/kubectl.sh
  prow/jobs/grafana/kubectl.yaml
Due: grafana-helm-1-1.14, grafana-helm-1-1.15, grafana-helm-1-1.16, test-infra-bootstrap, update-jobs

adding in Unicorn examples
  README.md
  images/README.md
  prow/jobs/test-infra/base-images.yaml
Due: update-jobs

added retest to README
  README.md
Due: none

adding in Codeowners doc
  README.md
Due: none

deck upgrades
  .gitignore
  images/grafana/README.md
  prow/cluster/components/07-deck.yaml
  prow/cluster/components/config.yaml
  prow/scripts/create.sh
  sample.py
Due: grafana-helm-1-1.14, grafana-helm-1-1.15, grafana-helm-1-1.16

deck upgrades
  prow/cluster/components/07-deck.yaml
Due: none

deck upgrades
  sample.py
Due: none

updating some comp about crier
  Makefile
  images/grafana/README.md
  prow/cluster/components/12-crier.yaml
  prow/cluster/components/config.yaml
  prow/scripts/create.sh
Due: grafana-helm-1-1.14, grafana-helm-1-1.15, grafana-helm-1-1.16

updating some comp about crier
  prow/jobs/grafana/helm.yaml
  prow/jobs/grafana/image.yaml
  prow/jobs/grafana/kubectl.yaml
  prow/jobs/update-jobs/update-jobs.yaml
Due: update-jobs

updating some comp about crier
  prow/scripts/create.sh
Due: none

adding in new jobs with decorate
  changelog.md
  prow/cluster/components/05-plank.yaml
  prow/cluster/components/06-sinker.yaml
  prow/cluster/components/07-deck.yaml
  prow/cluster/components/08-horologium.yaml
  prow/cluster/components/12-crier.yaml
  prow/jobs/grafana/helm.yaml
  prow/jobs/grafana/kubectl.yaml
  prow/scripts/create.sh
Due: update-jobs

job update
  changelog.md
  images/grafana/Dockerfile
  prow/jobs/grafana/helm.yaml
  prow/jobs/grafana/kubectl.yaml
Due: grafana-helm-1-1.14, grafana-helm-1-1.15, grafana-helm-1-1.16, update-jobs

job update
  prow/jobs/grafana/helm.yaml
Due: update-jobs

sleep test
  prow/jobs/grafana/helm.yaml
  prow/jobs/grafana/kubectl.yaml
Due: update-jobs

chmodding the files
  images/grafana/helm.sh
  images/grafana/kubectl.sh
Due: grafana-helm-1-1.14, grafana-helm-1-1.15, grafana-helm-1-1.16

chmodding the files
  images/grafana/kubectl.sh
Due: grafana-helm-1-1.14, grafana-helm-1-1.15, grafana-helm-1-1.16

adding decoration to helm
  prow/cluster/components/config.yaml
  prow/jobs/grafana/helm.yaml
Due: update-jobs

first commit for prometheus
  images/create_ecr.sh
  images/prometheus/Dockerfile
  images/prometheus/Makefile
  images/prometheus/README.md
  images/prometheus/helm.sh
  images/prometheus/kubectl.sh
Due: prometheus1-1.14, prometheus1-1.15, prometheus1-1.16

adding in updated jobs
  Makefile
  prow/cluster/components/05-plank.yaml
  prow/cluster/components/12-crier.yaml
  prow/jobs/prometheus/OWNERS
  prow/jobs/prometheus/helm.yaml
  prow/scripts/create.sh
Due: update-jobs

updating crier and readme
  README.md
  prow/cluster/components/12-crier.yaml
Due: none

fixing helm script
  images/prometheus/helm.sh
Due: prometheus1-1.14, prometheus1-1.15, prometheus1-1.16

adding in prometheus
  images/prometheus/Dockerfile
  images/prometheus/kubectl.sh
  images/prometheus/templates/prometheus.yaml
  images/prometheus/templates/tests/tests.yaml
  prow/cluster/components/05-plank.yaml
  prow/cluster/components/08-horologium.yaml
  prow/cluster/components/config.yaml
  prow/jobs/grafana/grafana-helm.yaml
  prow/jobs/grafana/grafana-image.yaml
  prow/jobs/grafana/grafana-kubectl.yaml
  prow/jobs/grafana/helm.yaml
  prow/jobs/prometheus/prometheus-helm.yaml
  prow/jobs/prometheus/prometheus-image.yaml
  prow/jobs/prometheus/prometheus-kubectl.yaml
Due: prometheus1-1.14, prometheus1-1.15, prometheus1-1.16, update-jobs

updating test dialogue
  images/prometheus/kubectl.sh
Due: prometheus1-1.14, prometheus1-1.15, prometheus1-1.16

adding helm chart
  .gitignore
  Makefile
  prow/cluster/aquarium/.helmignore
  prow/cluster/aquarium/Chart.yaml
  prow/cluster/aquarium/templates/_helpers.tpl
  prow/cluster/aquarium/templates/alb_ingress.yaml
  prow/cluster/aquarium/templates/cluster_config_maps.yaml
  prow/cluster/aquarium/templates/crier.yaml
  prow/cluster/aquarium/templates/deck.yaml
  prow/cluster/aquarium/templates/ghproxy.yaml
  prow/cluster/aquarium/templates/hook.yaml
  prow/cluster/aquarium/templates/horologium.yaml
  prow/cluster/aquarium/templates/plank.yaml
  prow/cluster/aquarium/templates/prowjob_custromresourcedefinition.yaml
  prow/cluster/aquarium/templates/pushgateway.yaml
  prow/cluster/aquarium/templates/sinker.yaml
  prow/cluster/aquarium/templates/tests/test-connection.yaml
  prow/cluster/aquarium/values.yaml
  prow/cluster/components/05-plank.yaml
  prow/cluster/components/08-horologium.yaml
  prow/jobs/grafana/grafana-helm.yaml
  prow/jobs/grafana/grafana-kubectl.yaml
  prow/jobs/prometheus/prometheus-helm.yaml
  prow/jobs/prometheus/prometheus-kubectl.yaml
Due: update-jobs

adding fluent-bit build image
  .gitignore
  images/create_ecr.sh
  images/fluent-bit/Dockerfile
  images/fluent-bit/Makefile
  images/fluent-bit/README.md
  images/fluent-bit/helm.sh
  images/fluent-bit/kubectl.sh
  images/fluent-bit/templates/fluent-bit.yaml
  images/fluent-bit/templates/tests/tests.yaml
  prow/jobs/fluent-bit/OWNERS
  prow/jobs/fluent-bit/fluent-bit-image.yaml
Due: update-jobs

testing fluent-bit helm+kubectl
  helm.yaml
  images/fluent-bit/.DS_Store
  kubectl.yaml
  prow/jobs/fluent-bit/fluent-bit-helm.yaml
  prow/jobs/fluent-bit/fluent-bit-kubectl.yaml
Due: update-jobs

updating tests
  images/fluent-bit/kubectl.sh
  images/fluent-bit/templates/tests/tests.yaml
Due: none

fluent-bit tests
  prow/jobs/fluent-bit/fluent-bit-helm.yaml
  prow/jobs/fluent-bit/fluent-bit-kubectl.yaml
Due: update-jobs

updating status badges
  README.md
Due: none

updating cluster name for main cluster
  .gitignore
  Makefile
  README.md
  prow/cluster/components/07-deck.yaml
  prow/cluster/components/config.yaml
  prow/cluster/components/eksctl.yaml
  prow/jobs/fluent-bit/fluent-bit-image.yaml
  prow/jobs/grafana/grafana-image.yaml
  prow/jobs/prometheus/prometheus-image.yaml
  prow/jobs/test-infra/base-images.yaml
  prow/jobs/update-jobs/update-jobs.yaml
  prow/scripts/create.sh
  prow/scripts/update.sh
Due: update-jobs

updating deck URL
  README.md
  images/README.md
  images/fluent-bit/README.md
  images/grafana/README.md
  images/prometheus/README.md
  prow/cluster/components/04-hook.yaml
  prow/cluster/components/10-alb_controller.yaml
  prow/cluster/components/10-prow_addons_ctrlmanager.yaml
  prow/jobs/update-jobs/update-jobs.yaml
  prow/scripts/create.sh
Due: grafana-helm-1-1.14, grafana-helm-1-1.15, grafana-helm-1-1.16, prometheus1-1.14, prometheus1-1.15, prometheus1-1.16, update-jobs

adding in changes for september
  .gitignore
  Makefile
  prow/cluster/components/00-namespaces.yaml
  prow/cluster/components/01-ghproxy.yaml
  prow/cluster/components/02-cluster_config_maps.yaml
  prow/cluster/components/03-prowjob_custromresourcedefinition.yaml
  prow/cluster/components/05-prow-controller-manager.yaml
  prow/cluster/components/06-sinker.yaml
  prow/cluster/components/07-deck.yaml
  prow/cluster/components/08-horologium.yaml
  prow/cluster/components/11-alb_ingress.yaml
  prow/cluster/components/12-crier.yaml
  prow/cluster/components/14-statusreconciler.yaml
  prow/cluster/components/15-tide.yaml
  prow/cluster/components/config.yaml
  prow/scripts/create.sh
  prow/scripts/update.sh
Due: none

adding in changes for september
  images/grafana/README.md
Due: grafana-helm-1-1.14, grafana-helm-1-1.15, grafana-helm-1-1.16
